<h1>Latest Version URLs</h1>
Two Examples:
<ol>
	<li>Documents with Versions <%= link_to 'All Documents', documents_path %> (check each document for the current version)</li>
	<li>Blog Post: <%= link_to 'Current Blog Post', current_blog_path %> |  <%= link_to 'All Posts', blogs_path %></li>
</ol>